<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.prj.mypharm.mapper.MedicineMapper">
	<!-- // 약품 조회, 검색
	List<MedicineDTO> selectMedicineList(@Param("cri") Criteria cri, @Param("offset") int offset) throws SQLException;-->
	<select id="selectMedicineList" resultType="com.prj.mypharm.domain.MedicineDTO">
		<![CDATA[
		SELECT *
		FROM (
			SELECT @ROWNUM := @ROWNUM + 1 as rn, no, name, ename, cate_no, cate_name, otc_name, formul, company, img, chart, shape, color1, color2
			FROM medicine, (SELECT @ROWNUM := 0) as r
			WHERE
			]]>
				<if test="cri.keyword != '' and cri.keyword != null ">
					 REGEXP_LIKE (name, #{cri.keyword} ) AND	
				</if>	
			<![CDATA[
			no > 0 AND (@ROWNUM:=0)=0 
			ORDER BY no
			LIMIT #{offset}, #{cri.amount}
			) m 
		WHERE m.rn > 0
		]]>
	</select>
	
	<!-- // 약품 상세 보기 
	MedicineDTO selectMedicineOne(int no) throws SQLException; -->
	<select id="selectMedicineOne" resultType="com.prj.mypharm.domain.MedicineDTO">
		SELECT *
		FROM medicine
		WHERE no = #{no}
	</select>
	
	<!-- // 약품 총 갯수 
	int totalMedicine(String keyword) throws SQLException; -->
	<select id="totalMedicine" resultType="int">
		SELECT COUNT(no)
		FROM medicine
		<if test="cri.keyword != '' and cri.keyword != null">
		WHERE REGEXP_LIKE (name, #{cri.keyword, jdbcType=VARCHAR})
		</if>
	</select>

</mapper>

