<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.prj.mypharm.mapper.NoticeMapper">

	<!-- 공지사항 페이징 목록 
	List<NoticeDTO> noticeSelect(Criteria cri) throws SQLException;-->
	<select id="noticeSelect" resultType="com.prj.mypharm.domain.NoticeDTO" >
		<![CDATA[
		SELECT *
		FROM (
		    SELECT @ROWNUM := @ROWNUM+1 as rn, seq, title, content, writer, regdate, updated
		    FROM notice, (SELECT @ROWNUM := 0) as r
		    WHERE seq > 0 AND (@ROWNUM:=0)=0
		    ORDER BY seq DESC
		    LIMIT #{offset}, #{cri.amount}
		) b
		WHERE b.rn > 0
		]]>
	</select> 
   
   <!-- 공지사항 총 게시글 
	int noticeTotalRows() throws SQLException; -->
   	<select id="noticeTotalRows" resultType="int">
   		<![CDATA[
   		SELECT COUNT(*)
		FROM notice
		WHERE seq > 0
		]]>
   	</select> 
   	
   	
   	<!-- 게시글 상세 
	NoticeDTO noticeSelectOne(int seq, String userid) throws SQLException; -->
   <select id="noticeSelectOne" resultType="com.prj.mypharm.domain.NoticeDTO">
   		<![CDATA[
	   	SELECT *
		FROM notice
		WHERE seq = #{seq}
		]]>
   </select>
   
   <!-- // 게시글 쓰기
	int noticeInsert(NoticeDTO dto) throws SQLException; -->
	<insert id="noticeInsert">
		INSERT INTO notice ( title, content, writer)
		VALUES ( #{title}, #{content}, #{writer} )
	</insert>
   
   <!-- 게시글 수정 
	NoticeDTO noticeUpdate(NoticeDTO dto) throws SQLException; -->
   <update id="noticeUpdate">
   		UPDATE notice
		SET title = #{title}, content = #{content}
		    ,updated = NOW()
		WHERE seq = #{seq} AND writer = #{writer}
   </update>
   
   <!-- 게시글 삭제 
	int noticeDelete(int seq, String userid) throws SQLException; -->
	<delete id="noticeDelete">
   		DELETE notice
		WHERE seq = #{seq} AND writer = #{userid}
   	</delete>
</mapper>

